/**make style color for all*/
$color-grey:#eaeaea;
$color-blue:#12a6ed;
$color-grey-dark:#9b9b9b;
$color-grey-btn:#f2f2f2;
$color-text:#4a4a4a;
$color-dark:#000;
$color-white:#fff;
$color-red-error:#ea1244;
$color-newzik:#ef5b34;
$color-green:#37d75e;
$color-input-text:#4a4a4a ;
$color-slideBar:#f6f8fa;

/**color for page edit bootmark*/
$color-bootmark-red:#ff0303;

