body,html{
    background: #e5e5e5;
}
.social-button{
    a{
        text-align: center;
        text-decoration: none;
    }
}

.page-svg {
    margin: 50px auto;
    display: block;
    width: 100%;
    text-align: center;
}
