.login-page{
  width: 428px;
  margin: 20px auto;
  display: block;
  .login-content{
    margin: 0px auto;
    background-color: #fff;
    padding: 30px 65px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    h2{
      font-size: 18px;
      margin: 15px 0px;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.78;
      letter-spacing: normal;
      color: #000000;
      text-align: center;
    }
    .wrapper-form-group{
      display: block;
      overflow: hidden;
      width: 100%;
      .lb-input{
        font-family: 'SFProText-Semibold', Arial,Helvetica,sans-serif;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
        margin: 0;
        margin-bottom: 5px;
      }
      .display-input{
        grid-template-columns: none;
        display: inline-grid;
        width: 100%;
      }
    }
    .group-btn-login{
      text-align: center;
    }
  }
  .forgot-password{
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px auto 22px;
    a{
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: normal;
      color: #12a8ed;
      text-align: center;
    }
  }
  .login-facebook{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    .hr-facebook{
      position: relative;
      margin: 0px;
      width: 100%;
      margin-bottom: 12px;
      &::before{
        content: '';
        width: calc(50% - 10px);
        border: 0.5px solid #eaeaea;
        position: absolute;
        left: 0px;
      }
      &::after{
        content: '';
        width: calc(50% - 10px);
        border: 0.5px solid #eaeaea;
        position: absolute;
        right: 0px;
      }
      span{
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: #c8c7cc;
        position: relative;
        top: -9px;
      }
    }
    .btn-facebook{
      display: block;
      background-color: #3c5996 !important;
      border-color: #3c5996!important;
      position: relative;
      &:focus,&:active,&:hover{
        box-shadow:0px;
        border-color: #3c5996!important;
      }
      i{
        background-image: url("../../../public/images/ic-facebook.png");
        background-repeat: no-repeat;
        width: 13px;
        height: 24px;
        background-size: contain;
        background-origin: content-box;
        display: block;
        position: absolute;
        left: 10px;
      }
    }
  }
  .login-info{
    margin: 0px auto;
    background-color: #fff;
    padding: 30px 65px 0px;
    width: 100%;
    overflow: hidden;
    .fllow-app{
      margin: 10px 0 0px;
      width: 100%;
      display: block;
      overflow: hidden;
      p{
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: normal;
        color: #000000;
        margin: 0px auto;
        text-align: center;
        margin: 5px 0px;
      }
      p.title{
        font-family: 'SFProText-Semibold', Arial,Helvetica,sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      .download-app{
        background-image: url("../../../public/images/ic-app.png");
        background-repeat: no-repeat;
        width: 120px;
        height: 40px;
        background-size: contain;
        background-origin: content-box;
        display: block;
        margin: 8px auto 8px;
        cursor: pointer;
      }
    }
  }
  .login-privacy{
    margin: 5px 0;
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: justify;
    p{
      margin: 0px;
      display: block;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: #c8c7cc;
      span{
        margin: 0px;
      }
      span.link{
        color: #12a6ed;
      }
    }
  }
}


.permissions-page{
  width: 428px;
  margin: 50px auto;
  display: block;
  .permissions-content{
    margin: 0px auto;
    background-color: #fff;
    padding: 30px 65px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    h2{
      font-size: 18px;
      margin: 26px 0 32px;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.78;
      letter-spacing: normal;
      color: #000000;
      text-align: center;
    }
  }
  .wrapper-box{
    display: block;
    overflow: hidden;
    margin: 10px auto 20px;
    .each-box{
      border-radius: 13px;
      background-color: #f7f7f7;
      padding: 8px;
      margin: 8px 0px;
      i{
        background-image: url("../../../public/images/ic-check.png");
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        background-size: contain;
        background-origin: content-box;
        display: inline-block;
        vertical-align: middle;
      }
      p{
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: normal;
        color: #000;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 52px);
        margin-left: 10px;
        margin-bottom: 0px;
      }
    }
  }
  .btn-accept{
    margin: 0px 0px 16px;
    text-align: center;
    display: block;
    height: auto;
    min-height: 48px;
    span{
      display: block;
    }
    .lb-name{
      word-break: break-word;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .btn-cancel{
    margin: 0px 0px 20px;
    text-align: center;
    display: block;
    background-color: #ffffff !important;
    color: #000000 !important;
    border-radius: 5px;
    border: solid 1px #c8c7cc!important;
    background-color: #ffffff!important;
  }
  a.confirm{
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #12a8ed!important;
    text-decoration: underline!important;
    margin: 0px 0px 10px;
    text-align: center;
    display: block;
    cursor: pointer;
  }
}

.forgotPassword-page{
  width: 428px;
  margin: 20px auto;
  display: block;
  .forgotPassword-content{
    margin: 0px auto;
    background-color: #fff;
    padding: 30px 65px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    h2{
      font-size: 18px;
      margin: 15px 0px;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.78;
      letter-spacing: normal;
      color: #000000;
      text-align: center;
    }
    p.content{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #000000;
      text-align: center;
    }
    .wrapper-form-group{
      display: block;
      overflow: hidden;
      width: 100%;
      .forgotPassword-form{
        .form-group{
          margin-bottom: 20px;
        }
      }
      .lb-input{
        font-family: 'SFProText-Semibold', Arial,Helvetica,sans-serif;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
        margin: 0;
        margin-bottom: 5px;
      }
      .display-input{
        grid-template-columns: none;
        display: inline-grid;
        width: 100%;
      }
      .note{
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #000000;
        text-align: center;
        margin-bottom: 24px;
      }
    }
    .group-btn-forgotPassword{
      text-align: center;
      .btn{
        margin: 0px 0px 15px !important;
      }
      .btn-cancel{
        margin: 10px 0px;
        text-align: center;
        display: block;
        background-color: #ffffff !important;
        color: #000000 !important;
        border-radius: 5px;
        border: solid 1px #c8c7cc!important;
        background-color: #ffffff!important;
      }
    }
  }
}

.forgotPasswordSuccess-page{
  width: 428px;
  margin: 50px auto;
  display: block;
  .forgotPasswordSuccess-content{
    margin: 0px auto;
    background-color: #fff;
    padding: 30px 65px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    .icon{
        background-image: url("../../../public/images/ic-email.png");
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        background-size: contain;
        background-origin: content-box;
        display:block;
        margin: 50px auto 10px;
    }
    h2{
      font-size: 18px;
      margin: 15px 0px;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.78;
      letter-spacing: normal;
      color: #000000;
      text-align: center;
    }
    .content{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #000000;
      text-align: center;
      margin-bottom: 50px;
    }
    .btn{
      margin: 30px auto;
    }
  }
}

.header{
  display: block;
  overflow: hidden;
  .logo{
    background-image: url("../../../public/images/logo.png");
    width: 140px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    text-align: center;
    display: block;
    margin: 0px auto;
  }
}

.error-messages{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ff0000;
  margin: 5px 0px 10px;
}

.error-page{
  p{
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: red;
    margin: 20px 0px;
    text-align: center;
  }
  .group-btn-error{
    text-align: center;
    padding: 0px 40px;
    .btn{
      margin: 0px 0px 15px !important;
    }
    .btn-cancel{
      margin: 10px 0px;
      text-align: center;
      display: block;
      background-color: #ffffff !important;
      color: #000000 !important;
      border-radius: 5px;
      border: solid 1px #c8c7cc!important;
      background-color: #ffffff!important;
    }
  }
}
